/build
/source/build
*.mode1v3
*.pbxuser
*.pbxindex/
!user.pbxuser
/*.log
*.user
*.ncb
*.suo
*.pdb
*.pdf
*.html
*.idb
*.o
*.lo
*.a
*.so
*.so.0
*.la
.deps
.libs
*.pyc
.DS_Store
# Emacs and other editor backup files
*~

# builds on Windows
Debug/
Release/
release/

/Makefile
/config.log
/config.status
/doc/Makefile
/libmpg123.pc
/libtool
/src/Makefile
/src/config.h
/src/libmpg123/.libs/
/src/libmpg123/Makefile
/src/libmpg123/libmpg123.sym
/src/libmpg123/mpg123.h
/src/output/Makefile
/src/stamp-h1
/x86-unknown-linux/